@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: url(img/bg-header-desktop.png);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container .copy {
    font-size: 100px;
    color: #26B8A3;
    margin-bottom: 50px;
}

.container h1 {
    color: #525B64;
    font-size: 50px;
    margin-bottom: 20px;
}

.container p {
    color: #a1a5a8;
    font-size: 18px;
    width: 700px;
    line-height: 30px;
    margin-bottom: 50px;
}

.container .buttons button {
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin-bottom: 150px;
    cursor: pointer;
}

.container .buttons button:nth-child(1) {
    background: #26BBA5;
    box-shadow: 1px 1px 11px #26BBA5;
    margin-right: 10px;
}

.container .buttons button:nth-child(1):hover {
    background: #5DCCBB;
}

.container .buttons button:nth-child(2) {
    background: #6174FF;
    box-shadow: 1px 1px 11px #6174FF;
}

.container .buttons button:nth-child(2):hover {
    background: #8896FF;
}

.container .main-h2 {
    color: #525B64;
    font-size: 35px;
    margin-bottom: 40px;
}

.main2 {
    display: flex;
    column-gap: 300px;
}

.main2 .main2-content {
    margin-top: 40px;
}

.main2 .main2-content h3 {
    font-size: 30px;
    color: #4C5359;
    margin-bottom: 20px;
}

.main2 .main2-content p {
    font-size: 15px;
    width: 325px;
    color: #a1a5a8;

}

.main2 .main2-content p:nth-child(2) {
    margin-bottom: 50px;
}

.main2 .main2-content p:nth-child(4) {
    margin-bottom: 50px;
}

.main3 {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main3 h1 {
    color: #525B64;
    font-size: 50px;
    margin-bottom: 20px;
}

.main3 p {
    color: #a1a5a8;
    font-size: 18px;
    width: 700px;
    line-height: 30px;
    margin-bottom: 100px;
}

.main3 img {
    width: 1100px;
}

.main4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

}

.main4 h1 {
    color: #525B64;
    font-size: 50px;
    margin-bottom: 20px;
}

.main4 p {
    color: #a1a5a8;
    font-size: 18px;
    width: 700px;
    line-height: 30px;
    margin-bottom: 50px;
}

.main4 .explain {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.main4 .explain .box {
    margin-top: 40px;
    margin-bottom: 150px;
}

.main4 .explain .box img {
    margin-bottom: 40px;
}

.main4 .explain .box h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #4C5359;
    margin-bottom: 20px;
}

.main4 .explain .box p {
    width: 400px;
    color: #a1a5a8;
    font-size: 18px;
    line-height: 30px;
}

.main4 .adv {
    display: flex;
    align-items: center;
    column-gap: 120px;
    margin-bottom: 200px;
}

.main5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main5 .buttons button {
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin-bottom: 150px;
    cursor: pointer;
}

.main5 h1 {
    color: #525B64;
    font-size: 50px;
    margin-bottom: 20px;
}

.main5 p {
    color: #a1a5a8;
    font-size: 18px;
    width: 700px;
    line-height: 30px;
    margin-bottom: 50px;
}

.main5 .buttons button:nth-child(1) {
    background: #26BBA5;
    box-shadow: 1px 1px 11px #26BBA5;
    margin-right: 10px;
}

.main5 .buttons button:nth-child(2) {
    background: #6174FF;
    box-shadow: 1px 1px 11px #6174FF;
}

.main5 .buttons button:nth-child(1):hover {
    background: #5DCCBB;
}

.main5 .buttons button:nth-child(2):hover {
    background: #8896FF;
}

footer {
    display: flex;
    height: 200px;
    background: #F5F6F8;
    align-items: center;
    justify-content: space-around;
}

footer .copy {
    font-size: 75px;
    color: #26B8A3;
}

footer .footer-nav ul {
    display: flex;
    column-gap: 30px;
}

footer .footer-nav ul li a {
    color: black;
    font-size: 25px;
}

footer .footer-nav ul li a:hover {
    color: #26BBA5;
}

.footer-sosyal a i {
    column-gap: 30px;
    font-size: 30px;
    color: #525B64;
}

.footer-sosyal a i:hover {
    color: #26B8A3;
}

@media screen and (max-width:960px) {
    body {
        background: url(img/bg-header-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
    }

    .container {
        margin-top: 200px;
    }

    .container h1 {
        font-size: 40px;
    }

    .container p {
        width: 350px;
    }

    .container .buttons button {
        display: flex;
        padding: 15px 100px;
        border: none;
        outline: none;
        border-radius: 30px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .container .buttons button:nth-child(2) {
        margin-bottom: 200px;

    }

    .main2 {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        text-align: center;
    }

    .main2 img {
        width: 350px;
        height: 350px;

        margin-top: 150px;
    }

    .main3 h1 {
        font-size: 35px
    }

    .main3 p {
        width: 300px;
    }

    .main3 img {
        width: 375px;
        height: 305px;

    }

    .main4 h1 {
        font-size: 35px;
    }

    .main4 p {
        width: 300px;
    }

    .main4 .explain {
        display: flex;
        flex-direction: column;
        column-gap: 20px !important;
    }

    .main4 .explain .box {
        margin: 0;
    }

    .main4 .adv {
        display: flex;
        flex-direction: column;
        row-gap: 75px;
        margin-top: 100px;


    }

    .main5 h1{
        font-size: 35px;
    }
    .main5 p{
        width: 300px;
    }
    .main5 .buttons button {
        display: flex;
        padding: 15px 100px;
        border: none;
        outline: none;
        border-radius: 30px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .main5 .buttons button:nth-child(2) {
        margin-bottom: 200px;

    }
    footer{
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    footer .footer-nav ul{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
    footer .footer-sosyal{
        display: flex;
        column-gap: 40px;
        margin-bottom: 40px;
    }
}